:root{
    --color-white: #fff;
    --color-white1: #e4e4e4;
    --color-green1: #59b127;
    --color-black1: #000000;
    --color-gray1: #0e0e0e;
    --color-purple: #800080;
    --color-blue: #2325a8;
}
.icone{
    width: 45px;
    height: 45px;
}
.logo_header{
    width: 45px;
    height: 45px;
}
/* rodapenes*/

.rodape {
    text-align: center;
    margin: 5em 3em;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link a{
    text-decoration: none;
    color: var(--color-black1);
    margin-left: 1em;
}

.rodape__texto {
    margin: 1em 0;
    color: var(--color-gray1);
    font-size: 14px;
}

.lista__link a:hover {
    color: var(--color-purple);
}

.lista__link a:active {
    color: var(--color-purple);
}

.container__botao:hover {
    background-color: var(--color-blue);
    color: var(--color-white);
}
.rodape__logo{
    width: 45px;
    height: 45px;
}